<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xyz.blog.mapper.ArticleTypeMapper">
    <!--添加-->
    <insert id="add">
        insert into tb_article_type(
                     type_name,
                     status       ,
                     create_time  ,
                     update_time  ,
                     parent_id
                            )
        values (
                    #{typeName},
                    #{status},
                    #{createTime},
                    #{updateTime},
                    #{parentId}

               )
    </insert>
    <!--更新-->
    <update id="update">
        update tb_article_type
        set
            type_name=#{typeName},
            status=#{status},
            create_time=#{createTime},
            update_time=#{updateTime},
            parent_id=#{parentId}
       where
            id = #{id}
    </update>
    <!--删除-->
    <delete id="delete">
        delete from tb_article_type
        where id =#{id}
    </delete>
    <!--批量删除-->
    <delete id="patchDelete">
        delete from tb_article_type where id in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <!--查询所有-->
    <select id="findAll"  resultType="cn.xyz.blog.domain.ArticleType">
        select * from tb_article_type
    </select>
    <!--查询单个-->
    <select id="findOne"  resultType="cn.xyz.blog.domain.ArticleType">
        select * from tb_article_type where id=#{id}
    </select>
    <!--分页-->
    <select id="queryPage" resultType="cn.xyz.blog.domain.ArticleType">
        select s.*,p.type_name parentTypeName from tb_article_type s left join tb_article_type p
            on s.parent_id = p.id
        <where>
            <if test="keyword != null and keyword != ''">
                and s.type_name like concat('%',#{keyword},'%')
            </if>
        </where>
    </select>
</mapper>